:root {
  --navbar-color: rgb(0, 78, 116);
  --navbar-text-color:  rgb(255, 255, 255);
  --navbar-text-color-hover: #ffffff;
  --comfortaa-font: "Comfortaa", sans-serif;
  --lobster-font: 'Lobster Two', cursive;
  --site-background: #c92d2d;
  --panel-background: rgb(255, 255, 255);
  --site-text-color: rgb(66, 87, 118);
  --secondary-color: rgb(15, 177, 239);
}


.bgimg-1 {
  background-image: url('wpp2.jpg');
  background-attachment: fixed; 
  background-position: center; 
 background-repeat: no-repeat;
 background-size: 100% 100%;

}

body {
  background: var(--site-background);
  color: var(--site-text-color);
  margin-top: 5rem;
  font-family: var(--comfortaa-font);
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.fixed-position {
  position: fixed;
}

.bg-steel {
  background-color: var(--navbar-color);
}

.site-header .navbar-brand {
  font-family: var(--lobster-font)
}

.site-header .navbar-nav .nav-link {
  color: var(--navbar-text-color);
}

.site-header .navbar-nav .nav-link:hover {
  color: var(--navbar-text-color-hover);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: var(--panel-background);
  padding: 10px 20px;
  border-radius: 10px;
  /* box-shadow: 0 0 70px 0px rgb(223, 223, 223); */
  transition: box-shadow 0.3s;
}

.content-section:hover {
  /* box-shadow: 0 0 30px 3px rgb(168, 168, 168);  */
}

.list-group-item {
  transition: background-color 0.3s, box-shadow 0.15s;
}
.list-group-item:hover {
  background-color: #f3f3f3;
  box-shadow: 1px 1px 2px 0px rgb(0, 0, 0);

}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  /* border-bottom: 1px solid #e3e3e3 */
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn{
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn:hover, .btn-info {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--navbar-text-color-hover);
}

.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {
  color: var(--navbar-text-color-hover);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
  color: var(--navbar-text-color-hover);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-info.focus, .btn-info:focus {
  color: var(--navbar-text-color-hover);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: 0 0 0 0.2rem black;
}

